* {
  margin-top: 5px;
}

button.btn.btn-primary {
  margin-top: 10px;
  display: block;
}

.offdisplay {
  opacity: 0;
}

.ondisplay {
  opacity: 100;
}

.container {
  max-width: 540px;
  text-align: center;
  align-items: center;
}
.form-control{
  text-align: center;
}